/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: 'Rubik', sans-serif;
}

p {
  line-height: 1.4;
}
@media (max-width: 550px) {
  :root {
    font-size: 16px;
  }
}

nav {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: black;
  padding: 30px 0px;
}
@media (max-width: 550px) {
  nav {
    display: flex;
    justify-content: space-evenly;
  }
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 550px) {
  nav a {
    text-decoration: underline;
  }
}

@media (max-width: 550px) {
    .jumbo {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

section {
  width: 800px;
  padding: 10px 30px 20px 0px;
  margin: 0 auto;
  display: block;
}
@media (max-width: 550px) {
    section {
        padding: 10px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

.container {
  width: 800px;
  margin: 0 auto;
}

.top-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10px;
  border-bottom: 1px dashed black;
}
@media (max-width: 550px) {
  .top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.top-content article {
  width: 48%;
}

.middle-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}
@media (max-width: 550px) {
    .middle-content {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
}

.middle-content .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (max-width: 550px) {
  .middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.middle-content .boxes .box {
  width: 12.5%;
  height: 100px;
  margin: 10px 2.5%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@keyframes stretch {
  0%,
  100% {
    background-color: black;
  }
  to {
    background-color: lightgray;
  }
}
@media (max-width: 550px) {
  .middle-content .boxes .box {
    display: flex;
    flex-wrap: wrap;
  }
}

.teal {
  background: teal;
}
.teal:hover {
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 6;
}

.gold {
  background-color: gold;
}
.gold:hover {
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 6;
}

.cadetblue {
  background-color: cadetblue;
}
.cadetblue:hover {
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 6;
}

.coral {
  background-color: coral;
}
.coral:hover {
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 6;
}

.crimson {
  background-color: crimson;
}
.crimson:hover {
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 6;
}

.forestgreen {
  background-color: forestgreen;
}
.forestgreen:hover {
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 6;
}

.darkorchid {
  background-color: darkorchid;
}
.darkorchid:hover {
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 6;
}

.hotpink {
  background-color: hotpink;
}
.hotpink:hover {
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 6;
}

.indigo {
  background-color: indigo;
}
.indigo:hover {
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 6;
}

.dodgerblue {
  background-color: dodgerblue;
}
.dodgerblue:hover {
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 6;
}

.bottom-content {
  display: flex;
  margin: 0 2% 20px;
  justify-content: space-around;
}
@media (max-width: 550px) {
  .bottom-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.bottom-content .article {
  padding-right: 20px;
}
@media (max-width: 550px) {
    .bottom-content article{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

.bottom-content .text-container:last-child {
  padding-right: 0;
}

footer {
  width: 100%;
  background: black;
}

footer nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 20px 0px;
  margin: 10px 0px;
  font-size: 14px;
}

footer nav a {
  padding: 0px 25px;
  color: white;
  text-decoration: none;
}

/* ABOUT PAGE CSS */

section .jumbo-image {
  width: 800px;
  margin: 0 auto;
  display: block;
  padding: 10px 20px;
}

#about {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  margin: 0 auto;
  border-bottom: 1px dashed black;
}

.about-images {
  display: flex;
  margin: 20px 5px;
  padding: 5px 0px;
}

.row1 {
  display: flex;
}

.row2 {
  display: flex;
}

.middle-content h2 {
  padding: 10px;
}

h3 {
  margin: 10px 0px;
}

p {
  margin: 10px 0px;
}
.about-boxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px dashed black;
  margin: 0px 20px;
}

.button {
  display: flex;
  align-items: flex-start;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  margin: 10px 100px 20px 0px;
  padding: 10px 25px 10px 20px;
  text-align: center;
}

#work {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: 0 auto;
}
