@media (max-width: 550px) {
  body {
   width: auto;
   padding: 20px;
  }
  nav {
    display: flex;
    justify-content: space-evenly;
  }
  nav a {
    text-decoration: underline;
  }
  .top-content {
    width: auto;
    display: flex;
    flex-direction: column;
  }


}